{% extends 'Metrics/base.html' %}
{% load static %}
{% load ratings %}
{% load mytags %}

{% block title %}{{ restaurant.name }}'s Menu{% endblock %}

{% block content %}
    <!-- Alerts -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">

                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <header><h2>Restaurant Menu</h2></header>
            <header><h3>{{ restaurant.name }}</h3></header>
            <header><h4>In "{{ restaurant.address }}"</h4></header><br>
            {{ restaurant.description|safe }} <br>
            <br>
            {% if not meal_list %}
                <div style="text-align: center"><h4>No meals have been added...</h4></div>
                <br>
            {% endif %}
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% if meal_list %}
                    {% for meal in meal_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem"></div>
                                <!-- Meal image-->
                                <img class="card-img-top" src="{{ meal.image.url }}"
                                     alt="..."/>
                                <!-- Meal details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Meal name-->
                                        <h5 class="fw-bolder">{{ meal.name }}</h5>
                                        <!-- Meal Ratings-->
                                        <div class="d-flex justify-content-center small text mb-2">
                                            {% ratings meal %}
                                        </div>

                                        <!-- Meal price-->
                                        <span class="text">{{ meal.price }} TL</span>
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-primary mt-auto"
                                                                href="{% url 'MealReviews' meal.id %}">Read the
                                        Reviews</a>
                                    </div>
                                    <br>
                                    {% if user.is_authenticated %}
                                        {% if user == restaurant.owner or request.user|has_group:"Administrator" %}
                                            <div class="text-center"><a class="btn btn-danger mt-auto"
                                                                        onclick="return confirm('Are you sure about that?')"
                                                                        href="{% url 'DeleteMeal' meal.id %}">
                                                Delete Meal</a>
                                            </div>
                                            <br>
                                            <div class="text-center"><a class="btn btn-warning mt-auto"
                                                                        href="{% url 'UpdateMeal' meal.id %}">
                                                Update Meal</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user == restaurant.owner %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem"></div>
                                <!-- Meal image-->
                                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/32/32339.png"
                                     alt="..."/>
                                <!-- Meal details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Meal name-->
                                        <h5 class="fw-bolder">Your New Meal Name</h5>
                                        <!-- Meal price-->
                                        <span class="text">Your New Meal Price</span>
                                    </div>
                                </div>
                                <!-- Buttons-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-primary mt-auto"
                                                                href="{% url 'AddMeal' %}">
                                        Add Your New Meal</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <!--Review section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <header><h2>Restaurant Reviews</h2></header>
                <!--Form-->
                {% if user.is_authenticated %}
                    {% if form %}
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Review the Munch!</button>
                        </form>
                    {% endif %}
                {% else %}
                    <h4>You must be logged in to make a review</h4>
                {% endif %}
                <br>
                <!--Reviews-->
                {% if restaurant.reviews.all %}
                    {% for review in restaurant.reviews.all %}
                        <h3>{{ review.user }} says:</h3>
                        <strong>{{ review.title }}</strong>
                        <br>
                        <div>{{ review.description|safe }}</div>
                        <small>{{ review.date }}</small>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {% if user.is_authenticated %}
                                {% if user == review.user or request.user|has_group:"Administrator" %}
                                    <div><a class="btn btn-danger mt-auto"
                                            onclick="return confirm('Are you sure about that?')"
                                            href="{% url 'DeleteRestaurantReviews' review.id %}">
                                        Delete Review</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no reviews on this restaurant yet...</p>
                {% endif %}
            </div>
        </section>
        <!--Restaurant Delete Button-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            {% if user.is_authenticated %}
                {% if user == restaurant.owner or request.user|has_group:"Administrator" %}
                    <div class="text-center"><a class="btn btn-danger mt-auto"
                                                onclick="return confirm('Are you sure about that?')"
                                                href="{% url 'DeleteRestaurant' restaurant.id %}">
                        Delete Restaurant</a></div>
                    <br>
                    <div class="text-center"><a class="btn btn-warning mt-auto"
                                                href="{% url 'UpdateRestaurant' restaurant.id %}">
                        Update Restaurant</a></div>
                {% endif %}
            {% endif %}
        </div>
    </section>

{% endblock %}
