{% extends 'Metrics/base.html' %}
{% load static %}
{% load ratings %}
{% load mytags %}

{% block title %}MunchMetrics{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">

                {{ message }}
            </div>
        {% endfor %}

    {% endif %}
    <!-- Page header with logo and tagline-->
    <header class="py-2 bg-dark border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5 text-white">
                <h1 class="fw-bolder">Welcome to MunchMetrics</h1>
                <p class="lead mb-0">The place where Munchies get the Ratings!</p>
            </div>
        </div>
    </header>
    {% if not random_restaurant %}
        <div style="text-align: center"><h4>Nothing found</h4></div>
        <br>

    {% else %}
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Restaurants -->
                {% include 'Metrics/restaurantajax.html' %}
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Sort widget-->
                    <div class="dropdown">
                        <form>
                            <div class="form-group">

                                <select class="form-control" name="sort" id="sort">

                                    <option value="-id"> Newest first</option>
                                    <option value="id"> Oldest first</option>
                                    <option value="name">Restaurant name (a to z)</option>
                                    <option value="-name">Restaurant name (z to a)</option>

                                </select>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- Search widget-->
                    <div class="header-search open-search">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                    <div class="navbar-search">
                                        <input type="text" placeholder="Type then enter" name="search" id="tags"
                                               value=""
                                               class="search-global-input"/>
                                        <button class="search-global-btn" id="searchbutton">Enter</button>
                                        <div class="search-global-note">Type your search query above and then press
                                            to enter or click on icon
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(function () {
                            var availableTags = [
                                {% for restaurant in restaurant_queryset %}
                                    "{{restaurant.name}}",
                                {% endfor %}
                            ];
                            $("#tags").autocomplete({
                                source: availableTags
                            });
                        });
                    </script>
                    <br>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Cuisines</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form action="{% url 'index' %}">
                                        <div class="form-group">
                                            <select class="form-control" name="cuisine" id="cuisine">
                                                <option value="">All</option>
                                                {% for key, value in cuisines %}
                                                    <option value="{{ key }}">{{ key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        var page = 1;

        function pagination(new_page) {
            page = new_page;
            $.fn.refreshPage();
        }

        $.fn.refreshPage = function () {
            var sort_method = $('#sort').val();
            var cuisine_method = $('#cuisine').val();
            var search_method = $('#tags').val();
            $.ajax({
                type: 'GET',
                url: $(this).data('url'),
                data: {
                    'sort': sort_method,
                    'cuisine': cuisine_method,
                    'search': search_method,
                    'page': page,
                    'only_restaurants': true
                }
            }).done(function (response) {
                $('#restaurants').replaceWith(response);
            });
        };

        $(document).ready(function () {
            $('#sort').on('change', $.fn.refreshPage);
            $('#cuisine').on('change', $.fn.refreshPage);
            $('#tags').on('change', $.fn.refreshPage);

        });

    </script>
{% endblock %}

